/target

tests/manual-game/*/output.actual.txt

tests/web-integration/*/*.db
tests/web-integration/*/*.log
tests/web-integration/*/*.pid
tests/web-integration/*/templates
tests/web-integration/*/static

*.swp
test.db*

/.vscode

venv/
__pycache__/
poker-server/db.sqlite3
