/target

tests/manual-game/*/output.actual.txt

tests/web-integration/*/*.db
tests/web-integration/*/*.log
tests/web-integration/*/*.pid
tests/web-integration/*/server.stdout.txt
tests/web-integration/*/server.stderr.txt


*.swp
test.db*

/.vscode

venv/
__pycache__/
poker-server/db.sqlite3
