<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/mvp.css" />
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<header>
<nav>
<a href='/'><img src=/logo.png width=200 alt=logo /></a>
<ul>
<li><a href='/'>Home</a></li>
<li><a href='/accounts'>Accounts</a></li>
<li><a href='/tables'>Tables</a></li>
</ul>
</nav>
</header>
<body>
<main>
{% if error %}<p class="flash error">{{ error }}</p>{% endif %}
{% if success %}<p class="flash success">{{ success }}</p>{% endif %}
{% if message %}<p class="flash message">{{ message }}</p>{% endif %}
{% block content %}{% endblock content %}
</main>
<footer>
</footer>
</body>
</html>
