<html>
    <title>Accounts</title>
    <table>
        <tr>
            <th>Id Admin</th>
            <th>Account name</th>
            <th>Account ID</th>
        </tr>
        {% for account in accounts %}
            <tr>
                <td>{{ account.is_admin }}</td>
                <td>{{ account.account_name }}</td>
                <td><a href="/monies/{{ account.account_id }}">{{ account.account_id }}</a></td>
            </tr>
        {% endfor %}
    </table>
    <form method=POST>
        <label for="name">Account Name</label>
        <input type="Text" id="account_name" name="account_name">
        <label for="is_admin">Is admin?</label>
        <input type="checkbox" id="id_admin" name="is_admin">
        <input type="submit" value="submit">
    </form>
</html>