{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
{% else %}
  <p>You are not logged in</p>
{% endif %}
<div id=devcontrols></div>
<div id=gamelog></div>
<div id=table>
  <div class=pocket id="pocket-1"></div>
  <div class=pocket id="pocket-2"></div>
  <div class=pocket id="pocket-3"></div>
  <div class=pocket id="pocket-4"></div>
  <div class=pocket id="pocket-5"></div>
  <div class=pocket id="pocket-6"></div>
  <div id="community"></div>
  <div id="pot"></div>
</div>

<script type=module>
  import init, {
    greet,
    show_community,
    show_pocket,
    show_pot,
    render,
    create_dev_controls,
  } from './static/poker_client.js';
  async function run() {
    await init();
    // To call any wasm funcs right after init, do so here.
    //show_pocket(1);
    //show_pocket(2);
    //show_pocket(3);
    //show_pocket(4);
    //show_pocket(5);
    //show_pocket(6);
    //show_community(4);
    //show_pot();
    //render();
    create_dev_controls();
  }
  run();
</script>
{% endblock %}
