<html>
    <title>Table List</title>
    <table>
        <tr>
            <th>Table State</th>
            <th>Table name</th>
            <th>Join table</th>
        </tr>
        {% for table in tables %}
            <tr>
                <td>{{ table.state }}</td>
                <td>{{ table.name }}</td>
                <td><a href="/table/{{ table.id }}">Join not implemented</a></td>
            </tr>
        {% endfor %}
    </table>
    <form method=POST>
        <label for="name">Table Name</label>
        <input type="Text" id="table_name" name="table_name">
        <label for="table_type"></label>
        <input type="radio" id="tourny" name="table_type">
        <input type="radio" id="open" name="table_type">
        <input type="submit" value="submit">
    </form>
</html>