{% extends 'base.html' %}
{% block content %}
<p>{{ table }}</p>
<div id='table'>
  <div class=pocket id="pocket-0">
  </div>
  <div class=pocket id="pocket-1">
  </div>
  <div class=pocket id="pocket-2">
  </div>
  <div class=pocket id="pocket-3">
  </div>
  <div class=pocket id="pocket-4">
  </div>
  <div class=pocket id="pocket-5">
  </div>
  <div id="community"></div>
  <div id="pot"></div>
</div>
<div id="action-buttons">
</div>
<div>
    <a href="{% url 'tables:method_reset' table.id %}">Reset game</a>
</div>
<div id="logs"></div>
<pre><span id="state"></span></pre>

<script type=module>
    import init, {
        redraw,
        onclick_fold,
        onclick_check,
        onclick_call,
        onclick_bet,
        onclick_raise,
        onchange_raise,
        save_player_info,
        get_last_seq_num,
        //onclick_bet,
    } from '/static/poker_client.js'
    window.onclick_fold = onclick_fold;
    window.onclick_check = onclick_check;
    window.onclick_call = onclick_call;
    window.onclick_bet = onclick_bet;
    window.onclick_raise = onclick_raise;
    window.onchange_raise = onchange_raise;
    window.send_action = send_action;
    window.send_player_info_request = send_player_info_request;
    window.self_player_id = self_player_id;
    let REDRAW_TIMEOUT_ID = 0;
    async function run() {
        await init();
        // To call any wasm funcs right after init, do so here.
        //create_join_table_controls();
        redraw_timeout();
    }
    run();
    function self_player_id() {
        return {{user.id}};
    }
    function redraw_timeout() {
        let url = "{% url 'tables:state' table.id %}";
        let req = new XMLHttpRequest();
        req.open("POST", url);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        req.send(JSON.stringify({"since": get_last_seq_num()}));
        req.onload = function() {
            if (req.status != 200) {
                alert(`Error ${req.status}: ${req.statusText}`)
                return;
            }
            let wait_time = redraw(req.response);
            REDRAW_TIMEOUT_ID = setTimeout(redraw_timeout, wait_time * 1000);
        };
        req.timeout = 900;
    }

    function send_action(last_seq, opaque_action) {
        let url = "{% url 'tables:state' table.id %}";
        let req = new XMLHttpRequest();
        req.open("POST", url);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        req.send(JSON.stringify({'since': last_seq, 'action': opaque_action}));
        req.onload = function() {
            //alert(`${req}`);
            clearTimeout(REDRAW_TIMEOUT_ID);
            let wait_time = redraw(req.response);
            REDRAW_TIMEOUT_ID = setTimeout(redraw_timeout, wait_time * 1000);
        };
        req.timeout = 900;
    }

    function send_player_info_request(player_id) {
        let url = `/users/${player_id}/info`;
        let req = new XMLHttpRequest();
        req.open("GET", url);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.send();
        req.onload = function() {
            save_player_info(req.response);
        }
        req.timeout = 900;
    }
</script>
{% endblock %}
